/* === FONT FAMILY LINKS === */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/* === TAILWIND CSS === */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === FONT FAMILY === */

@layer base {
  
  @font-face {
    font-family: notosans;
    src: url("./assets/font/NotoSansCJKkr-Regular.ttf");
  }

  .noto_sans {
    font-family: notosans;
  }
}