/* === FONT FAMILY LINKS === */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
/* === TAILWIND CSS === */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0d1014;
  }

  @font-face {
    font-family: notosans;
    src: url("./assets/font/NotoSansCJKkr-Regular.ttf");
  }

  .noto_sans {
    font-family: notosans;
  }

  .popup_shadow {
    box-shadow: 11px 11px 15px #2253f54d !important;
  }

  .contact_form_bg {
    background: rgba(34, 83, 245, 0.1);
    border: 1px solid #2253f5;
    backdrop-filter: blur(7px);
    border-radius: 13px;
  }

  .form_input {
    background: rgba(34, 83, 245, 0.1);
    backdrop-filter: blur(100px);

    border-radius: 5px;
  }

  .contact_border {
    background: linear-gradient(
      270deg,
      rgba(34, 83, 245, 0) 3.61%,
      #2253f5 53.31%,
      rgba(34, 83, 245, 0) 96.53%
    );
    height: 3px;
  }
  .team-layer {
    background: #2253f5;
    filter: blur(250px);
  }

  /* SLICK SLIDER CSS  */
  .onwership-slider-bg {
    box-shadow: 6.20455px 6.20455px 8.46074px rgba(34, 83, 245, 0.1);
  }

  .onwership-slider .slick-track {
    padding: 30px 0px 32px 0px;
  }

  .onwership-slider .slick-track .slick-active {
    transform: scale(0.7);
    transition: all 0.4s ease-in-out;
    z-index: 6;
    position: relative;
  }

  /* border */

  .border_2_blue {
    border: 2px solid #2253f5;
    border-radius: 60px;
  }

  .border_2_transparent {
    border: 2px solid transparent;
    border-radius: 60px;
  }

  .onwership-slider .slick-track .slick-active + .slick-active {
    transform: scale(0.8) translateX(-6%);
    z-index: 8;
    position: relative;
  }

  .onwership-slider .slick-track .slick-active + .slick-active + .slick-active {
    transform: scale(0.9);
    z-index: 10;
    position: relative;
  }

  .onwership-slider
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(0.8) translateX(6%);
    z-index: 8;
    position: relative;
  }

  .onwership-slider
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(0.7);
    z-index: 6;
    position: relative;
  }

  .onwership-slider .slick-dots li button {
    background-color: #2253f5 !important;
    border-radius: 100% !important;
    width: 15px !important;
    height: 15px !important;
  }

  .onwership-slider .slick-dots li.slick-active button {
    background-color: #ffffff !important;
    border-radius: 100% !important;
    width: 20px !important;
    height: 20px !important;
  }

  .onwership-slider .slick-dots li button::before {
    display: none !important;
  }

  .onwership-slider .slick-dots {
    bottom: 0px !important;
  }

  @media (max-width: 1280px) {
    .translate_y {
      transform: translateY(-300%) !important;
    }
  }

  @media (max-width: 1200px) {
    .onwership-slider .slick-track .slick-active {
      transform: scale(0.8);
      transition: all 0.4s ease-in-out;
      z-index: 8;
      position: relative;
    }

    .onwership-slider .slick-track .slick-active + .slick-active {
      transform: scale(0.9);
      z-index: 10;
      position: relative;
    }

    .onwership-slider
      .slick-track
      .slick-active
      + .slick-active
      + .slick-active {
      transform: scale(0.8);
      z-index: 8;
      position: relative;
    }

    .translate_y {
      transform: translateY(-430%) !important;
    }
  }

  @media (max-width: 641px) {
    .onwership-slider .slick-track .slick-active {
      transform: unset !important;
      transition: all 0.4s ease-in-out;
      z-index: 8;
      position: relative;
    }

    .onwership-slider-bg {
      max-width: 420px;
      margin: 0 auto;
    }

    .onwership-slider .slick-track {
      padding: 48px 0px;
    }

    .onwership-slider .slick-dots {
      bottom: -14px !important;
    }
  }

  @media (min-width: 576px) {
    .popup_shadow {
      box-shadow: 11px 11px 15px 0px #2253f54d;
    }
  }

  @media (max-width: 375px) {
    .recaptcha-box {
      transform: scale(0.7);
    }
  }

  @media (min-width: 992px) {
    .h_lg_screen {
      min-height: 100vh !important;
    }
  }
}
