/* === FONT FAMILY LINKS === */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
/* === TAILWIND CSS === */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0d1014;
  }

  @font-face {
    font-family: notosans;
    src: url("./assets/font/NotoSansCJKkr-Regular.ttf");
  }

  .noto_sans {
    font-family: notosans;
  }

  .popup_shadow {
    box-shadow: 11px 11px 15px #2253f54d !important;
  }

  .contact_form_bg {
    background: rgba(34, 83, 245, 0.1);
    border: 1px solid #2253f5;
    backdrop-filter: blur(7px);
    border-radius: 13px;
  }

  .form_input {
    background: rgba(34, 83, 245, 0.1);
    backdrop-filter: blur(100px);

    border-radius: 5px;
  }

  .contact_border {
    background: linear-gradient(
      270deg,
      rgba(34, 83, 245, 0) 3.61%,
      #2253f5 53.31%,
      rgba(34, 83, 245, 0) 96.53%
    );
    height: 3px;
  }
  .team-layer {
    background: #061B6A;
    filter: blur(250px);
  }

  /* SLICK SLIDER CSS  */
  .onwership-slider-bg {
    box-shadow: 6.20455px 6.20455px 8.46074px rgba(34, 83, 245, 0.1);
  }

  .onwership-slider .slick-track {
    padding: 30px 0px 32px 0px;
  }

  .onwership-slider .slick-track .slick-active {
    transform: scale(0.7);
    transition: all 0.4s ease-in-out;
    z-index: 6;
    position: relative;
  }

  /* border */

  .border_2_blue {
    border: 2px solid #2253f5;
    border-radius: 60px;
  }

  .border_2_transparent {
    border: 2px solid transparent;
    border-radius: 60px;
  }

  .onwership-slider .slick-track .slick-active + .slick-active {
    transform: scale(0.8) translateX(-6%);
    z-index: 8;
    position: relative;
  }

  .onwership-slider .slick-track .slick-active + .slick-active + .slick-active {
    transform: scale(0.9);
    z-index: 10;
    position: relative;
  }

  .onwership-slider
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(0.8) translateX(6%);
    z-index: 8;
    position: relative;
  }

  .onwership-slider
    .slick-track
    .slick-active
    + .slick-active
    + .slick-active
    + .slick-active
    + .slick-active {
    transform: scale(0.7);
    z-index: 6;
    position: relative;
  }

  .onwership-slider .slick-dots li button {
    background-color: #2253f5 !important;
    border-radius: 100% !important;
    width: 15px !important;
    height: 15px !important;
  }

  .onwership-slider .slick-dots li.slick-active button {
    background-color: #ffffff !important;
    border-radius: 100% !important;
    width: 20px !important;
    height: 20px !important;
  }

  .onwership-slider .slick-dots li button::before {
    display: none !important;
  }

  .onwership-slider .slick-dots {
    bottom: 0px !important;
  }

  .contact_border {
    background: linear-gradient(
      270deg,
      rgba(34, 83, 245, 0) 3.61%,
      #2253f5 53.31%,
      rgba(34, 83, 245, 0) 96.53%
    );
    height: 3px;
  }

  .img_shadow {
    box-shadow: 0px 0px 35px 0px rgba(34, 131, 245, 0.7);
    border-radius: 117px;
  }

  /* ---- VIDEO ---- */

  .video-container {
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
  }
  .vimvideo {
    height: 56.25vw;
    left: 50%;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
  }

  .bg_faq {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(6px);
  }
.filter-property{
  filter: brightness(0) invert(1) !important;

}

/* ==== NEW TEAM SECTION CSS ==== */

/* width */
.story_popup::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.story_popup::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.story_popup::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
.story_popup::-webkit-scrollbar-thumb:hover {
  background: #2747a0; 
}

/* ==== HERO BUTTONS ==== */
.hero_btn_text{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.overflow_hidden{
  overflow: hidden !important;
}

  @media (max-width: 1280px) {
    .translate_y {
      transform: translateY(-510%) !important;
    }
  }

  @media (max-width: 1200px) {
    .onwership-slider .slick-track .slick-active {
      transform: scale(0.8);
      transition: all 0.4s ease-in-out;
      z-index: 8;
      position: relative;
    }

    .onwership-slider .slick-track .slick-active + .slick-active {
      transform: scale(0.9);
      z-index: 10;
      position: relative;
    }

    .onwership-slider
      .slick-track
      .slick-active
      + .slick-active
      + .slick-active {
      transform: scale(0.8);
      z-index: 8;
      position: relative;
    }

    .translate_y {
      transform: translateY(-753%) !important;
    }
  }

  @media (max-width: 641px) {
    .onwership-slider .slick-track .slick-active {
      transform: unset !important;
      transition: all 0.4s ease-in-out;
      z-index: 8;
      position: relative;
    }
    .onwership-slider .slick-track {
      padding: 48px 0px;
    }

    .onwership-slider .slick-dots {
      bottom: -14px !important;
    }
    .onwership-slider .slick-track {
      padding: 15px 0px 32px 0px;
    }
  }

  @media (min-width: 576px) {
    .popup_shadow {
      box-shadow: 11px 11px 15px 0px #2253f54d;
    }
  }

  @media (max-width: 375px) {
    .recaptcha-box {
      transform: scale(0.7);
    }
  }

  @media (min-width: 992px) {
    .h_lg_screen {
      min-height: 100vh !important;
    }
  }
}
